<div class="container">
    <div class="section">
        <div class="header">
            <h1>Bienvenido al Sistema de Reserva de Eventos!</h1>
            <p>Escoge el tipo de usuario:</p>
        </div>
        <div class="buttons">
            <button nz-button nzType="primary" routerLink="/register_company">
                Registro Ponente
            </button>
            <button nz-button nzType="primary" routerLink="/register_client">
                Registro Cliente
            </button>
        </div>
    </div>
</div>
