<div *ngIf="!isClientLoggedIn && !isCompanyLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #bb2929">

    <div>
      <h2 style="color: white; padding-left: 10px;">Reserva de Eventos</h2>
    </div>

    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/home" routerLinkActive="active">Inicio</a>
      <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Registro</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
    </div>

  </nz-header>
</div>

<div *ngIf="isClientLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #bb2929">
    <div>

      <h2 style="color: white; padding-left: 10px;">Reserva de Eventos</h2>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/client/dashboard" routerLinkActive="active">Menú</a>
      <a nz-button nzType="link" routerLink="/client/bookings" routerLinkActive="active">Reservas</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>

  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/client/dashboard" routerLinkActive="active">Menú</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/client/bookings" routerLinkActive="active">Reservas</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </nz-sider>
</div>

<div *ngIf="isCompanyLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #bb2929">
    <div>

      <h2 style="color: white; padding-left: 10px;">Reserva de Eventos</h2>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/company/dashboard" routerLinkActive="active">Menú</a>
      <a nz-button nzType="link" routerLink="/company/ad" routerLinkActive="active">Añadir Evento</a>
      <a nz-button nzType="link" routerLink="/company/ads" routerLinkActive="active">Eventos</a>
      <a nz-button nzType="link" routerLink="/project-task/task/post" routerLinkActive="active">Añadir Proyecto</a>
      <a nz-button nzType="link" routerLink="/project-task/dashboard" routerLinkActive="active">Proyectos</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>

  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/company/dashboard" routerLinkActive="active">Menú</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/company/ad" routerLinkActive="active">Añadir Evento</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/company/ads" routerLinkActive="active">Eventos</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </nz-sider>
</div>

<!-- Colocar footer -->

<router-outlet></router-outlet>
